{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "arrow-body-style": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-console": 0
  }
}
